@model List<dynamic>
@{
	Layout = "_Layout _Editor";
	ViewData["Title"] = "Editor";
}

<div id="canvas">
</div>
<div class="properties-panel-parent" id="js-properties-panel">
</div>


@section Scripts {
	<script src="~/js/dist/index.js"></script>
}
