@model List<dynamic>
@{
	Layout = "_Layout_Viewer";
	ViewData["Title"] = "Viewer";
}

<div id="canvas">
</div>

@section Scripts {

<script src="~/js/dist/bpmn-viewer.min.js"></script>

<script>
	const canvas = document.getElementById('canvas');

	const bpmnViewer = new window.BpmnViewer({
		container: canvas,
		keyboard: {
			bindTo: window
		}
	});

	let id = '@ViewBag.Id';
	fetch(`/Editor/Get/${id}`).then(resp => {
		resp.text().then(text => {
			bpmnViewer.importXML(text);
		});
	});
</script>

}
